---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <Fragment slot="head">
    <title>Service Areas | LEM Building Surveying</title>
  </Fragment>

  <main id="main">
      <h1>Service Areas</h1>
      <p>Proudly serving Connah’s Quay, Deeside, Flintshire, and surrounding regions.</p>
    </main><footer>
      <p>© 2025 LEM Building Surveying Ltd</p>
    </footer>
</BaseLayout>
