---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <Fragment slot="head">
    <title>Testimonials | LEM Building Surveying Ltd</title>
        <meta name="description" content="What our clients say about LEM Building Surveying Ltd.">
  </Fragment>

  <main>
        <section class="testimonial-section">
          <h1>Client Testimonials</h1>
    <div class="ti-widget ti-goog"></div>
    <script
      src="https://cdn.trustindex.io/loader.js?f82e0f551228447e6c06f9b86c7"
      async
      defer
      is:inline
    ></script>
        </section>
      </main>
</BaseLayout>
